<div class="container" ng-controller="PostEditCtrl as pst">
	<div class="panel panel-default">
	    <div class="panel-heading">Informações do anúncio</div>
	    <div class="panel-body">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<label>Título:</label>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">
								<span class="fa-stack fa-stack-lh-1 text-center fa-fw-1-5">
								  <i class="fa fa-square-o fa-stack-1-5x"></i>
								  <small><strong class="fa-number">Tl</strong></small>
								</span>
							</span>
				            <input type="text" class="form-control" ng-model="pst.post.Title" ng-init="pst.post.Title='[[.Post.Title]]'" >
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
						<label>Subtítulo:</label>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">
								<span class="fa-stack fa-stack-lh-1 text-center fa-fw-1-5">
								  <i class="fa fa-square-o fa-stack-1-5x"></i>
								  <small><strong class="fa-number">St</strong></small>
								</span>
							</span>
				            <input type="text" class="form-control" ng-model="pst.post.Subtitle"  ng-init="pst.post.Subtitle='[[.Post.Subtitle]]'">
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
						<label>Imagem:</label><br>
						<label class="btn btn-default btn-file">
						    Procurar <input id="imageUpload" type="file" name="datafile" size="40" style="display: none;">
						</label>
						<label id="imageSend" class="btn btn-success btn-file" disabled>
						    Enviar <input type="submit" value="Send" onClick=imageUpload() style="display: none;">	
						</label>
					</div>

					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="comment">Descrição:</label>
				            <textarea type="text" class="form-control" rows="5"  ng-model="pst.post.Description" ng-init="pst.post.Description='[[.Post.Subtitle]]'"  ></textarea>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					[[.Tags]]
						<label>Tags:</label>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-tags fa-fw"></i></span>
				            <input type="text" class="form-control" ng-model="pst.post.Tags" placeholder="tag1,tag2,tag3" [[if .HaveTags]] ng-init="pst.post.Tags='[[.Tags]]'" [[end]] >
						</div>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label for="comment">Texto:</label>
				            <textarea id="textarea" type="text" class="form-control" rows="5"   >[[.Post.Text]]</textarea>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12
		col-lg-offset-8 col-md-offset-8 col-sm-offset-6 col-xs-offset-8">
			<button type="button" class="btn btn-success" ng-click="pst.edit()">
				Enviar alterações
			</button>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12
		col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-8">
			<button type="button" class="btn btn-danger" ng-click="pst.delete()">
				Remover anúncio
			</button>
		</div>
	</div>
</div>

