<div class="container post-list">
	<div class="row">
		[[if .TargetExists]]
		<div class="well">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 text-right post-img">
				<a href="/busca/[[.Target.NameIdTag]]"><img src="/static/images/user/[[.Target.Id]].png" class="img-responsive"></a>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-9 col-xs-6">
				<a href="/busca/[[.Target.NameIdTag]]"><h3>[[.Target.Name]] <small>([[.Target.Institution_Tag]])</small> </h3></a>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 description">
				[[.Target.Institution_Description]]
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. 
			</div>
			<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">	
				<div class="col-lg-11 col-md-10 col-sm-10 col-xs-7 user">
					<a href="mailto:[[.Target.Email]]?Subject=Do ItabirApp"><i class="fa fa-envelope-o"></i> [[.Target.Email]]</a> 
				</div>
				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-5 text-right tags">
					<a href="http://maps.google.com/?q=[[.Address]]"><i class="fa fa-map"></i> mapa</a> 
				</div>
			</div>
		</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        <br>
			</div>

		[[end]]
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		[[$save := .]]
		[[range $i, $t := .Tags_URL]]
			<a href="[[$t.Url]],[[$t.Name]],*" class="
			[[if (eq (len $save.Tags_URL) (1))]]
				col-lg-12 col-md-12 col-sm-12 col-xs-12 
			[[end]]
			[[if (eq (len $save.Tags_URL) (2))]]
				col-lg-6 col-md-6 col-sm-6 col-xs-6 
			[[end]]
			[[if (eq (len $save.Tags_URL) (3))]]
				col-lg-4 col-md-4 col-sm-4 col-xs-12 
			[[end]]
			[[if (gt (len $save.Tags_URL) (3))]]
				col-lg-3 col-md-3 col-sm-6 col-xs-6 
			[[end]]
			category-small text-center">
				<div class="hovereffect bgc-[[add $i 1]] category-parent">
					<h1 class="fgc-0">[[$t.Name]]</h1>
					<div class="overlay fgc-0">
						<h1></h1>
					</div>
				</div>
			</a>
		[[end]]
		</div>
		[[range $i, $p := .Posts]]
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				[[if gt $i 0]]
			        <hr>
				[[else]]
					<br>
				[[end]]
			</div>
				<div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 text-right post-img">
					<a href="/anuncio/[[$p.Id]]"><img src="[[if $save.HasImage]]/static/images/post/[[$p.Id]][[else]]/static/images/user/[[$p.User.Id]][[end]].png" class="img-responsive" onError="this.onerror=null;this.src='/static/images/user/err.png';"></a>
				</div>
				<div class="col-lg-10 col-md-9 col-sm-9 col-xs-9">
					<a href="/anuncio/[[$p.Id]]"><h4>[[$p.Title]] <small>[[$p.Subtitle]]</small> </h4></a>
				</div>
				<div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 description">
					[[$p.Description]]
				</div>
				<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">	
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 user">
						<a href="/busca/[[$p.User.NameIdTag]]"><i class="fa fa-user"></i> [[$p.User.Name]]</a> 
						<a href="/busca/[[$p.User.Institution_Tag]]"><i class="fa fa-bullhorn"></i> [[$p.User.Institution_Tag]]</a>
						 
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-right tags">
					    [[range $j, $t := $p.Tags]]
					    	[[if gt $j 1]]
								<a href="/busca/[[$t.Name]]"><span class="label label-primary">[[$t.Name]]</span></a>
						    [[end]]
					    [[end]]
					</div>
				</div>
	
		[[end]]
	</div>
</div>

