<div class="container">
	<a href="/usuario/5/editar">usuario/5/editar</a> - n0@a; n0<br>
	<a href="/usuario/listar">usuario/listar</a> - n0@s; n0<br>
	<a href="/usuario/criar">usuario/criar</a> <br>
	<hr>
	<a href="/anuncio/6">post/6</a> <br>
	<a href="/anuncio/criar">anuncio/criar</a> <br>
	<hr>
	<a href="/busca/masc,feminino,+">/busca/masc,feminino,+</a> <br>
	<hr>
	<img src="/static/images/user/1.jpg">
	<form action= "/imagem/usuario/adicionar" enctype="multipart/form-data" method="post">
			<input type="file" name="datafile" size="40" >
			<input type="submit" value="Send">	
	</form>

	<form action= "/imagem/usuario/adicionar" enctype="multipart/form-data" method="post">
		<label class="btn btn-default btn-file">
		    Procurar <input type="file" name="datafile" size="40" style="display: none;">
		</label>
		<label class="btn btn-success btn-file">
		    Enviar <input type="submit" value="Send" style="display: none;">	
		</label>
	</form>
</div>

<!--
tags2 = "rep,professor,*" // 0
tags2 = "professor" // 0
tags2 = "masc,feminino,+" // 0 1
tags2 = "rep,feminino,+,masc,*" // 0 1
tags2 = "feminino,masc,+,cetrulo,+" // 0 1 2
tags2 = "masc,cetrulo,velha,+,*,professor,nova,feminino,+,*,+" // 0 1
tags2 = "professor,thiago,velha,+,+,thiago,*,feminino,nova,+,velha,*,rep,rep,cetrulo,+,+,*,+"
^ 1 2
tags2 = "professor,thiago,velha,+,+,thiago,*,feminino,nova,+,velha,*,rep,rep,cetrulo,+,+,*,*"
^ nenhum
-->
