<div class="container">
	<div class="jumbotron ">
		<h1>Visualizar anúncios</h1>
		<p class="text-right">Escolha uma das categorias abaixo e veja seus anúncios!</p>
	</div>
	<div class="row">
		<a href="/busca/professor" class="col-lg-6 category" >
			<div class="hovereffect bgc-1 category-parent">
				<img src="static/images/cat/professor_mini.jpg">
				<div class="category overlay fgc-0">
					<h1>Professores</h1>
				</div>
			</div>
		</a>
		<a href="/busca/republica" class="col-lg-6 category" >
			<div class="hovereffect bgc-2 category-parent">
				<img src="static/images/cat/republicas_mini.jpg">
				<div class="category overlay fgc-0">
					<h1 >Repúblicas</h1>
				</div>
			</div>
		</a>
		<a href="/busca/pesquisa" class="col-lg-6 category" >
			<div class="hovereffect bgc-3 category-parent">
				<img src="static/images/cat/grupo_de_pesquisa_mini.jpg">
				<div class="category overlay fgc-0">
					<h1>Grupos de Pesquisa</h1>
				</div>
			</div>
		</a>
		<a href="/busca/extensao" class="col-lg-6 category" >
		<!-- http://www.studypal.co/img/banner_img.jpg -->
			<div class="hovereffect bgc-4 category-parent">
				<img src="static/images/cat/empresa_junior_mini.jpg">
				<div class="category overlay fgc-0">
					<h1>Empresas Júnior</h1>
				</div>
			</div>
		</a>
		<a href="/busca/festa" class="col-lg-6 category" >
			<div class="hovereffect bgc-1 category-parent">
				<img src="static/images/cat/festas_mini.jpg">
				<div class="category overlay fgc-0">
					<h1>Festas</h1>
				</div>
			</div>
		</a>
		<a href="/busca/estabelecimento" class="col-lg-6 category" >
			<div class="hovereffect bgc-2 category-parent">
				<img src="static/images/cat/restaurantes_mini.jpg">
				<div class="category overlay fgc-0">
					<h1>Estabelecimentos</h1>
				</div>
			</div>
		</a>
	</div>
</div>

<!--
tags2 = "rep,professor,*" // 0
tags2 = "professor" // 0
tags2 = "masc,feminino,+" // 0 1
tags2 = "rep,feminino,+,masc,*" // 0 1
tags2 = "feminino,masc,+,cetrulo,+" // 0 1 2
tags2 = "masc,cetrulo,velha,+,*,professor,nova,feminino,+,*,+" // 0 1
tags2 = "professor,thiago,velha,+,+,thiago,*,feminino,nova,+,velha,*,rep,rep,cetrulo,+,+,*,+"
^ 1 2
tags2 = "professor,thiago,velha,+,+,thiago,*,feminino,nova,+,velha,*,rep,rep,cetrulo,+,+,*,*"
^ nenhum
-->
