<!DOCTYPE html>
<html ng-app="itabirapp">
<head>
    <title>[[.HeadTitle]]</title>
    <meta charset='UTF-8'>

    <link rel="stylesheet" href="/static/css/theme/bootstrap-paper.min.css">
    <link rel="stylesheet" href="/static/css/template.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/global.js"></script>

    [[range .HeadStyles]]
        <link rel="stylesheet" href="/static/css/[[.]]">
    [[end]]

    [[range .HeadScripts]]
        <script src="/static/js/[[.]]" defer="defer"></script>
    [[end]]

    [[if .IsLoggedIn]]
    [[else]]
       <script type="text/javascript" src="/static/js/login.js"></script>
    [[end]]

</head>


<body>
      [[ template "header.html" . ]]

    [[.LayoutContent]]

    <footer class="footer">
        
      [[ template "footer.html" . ]]
    </footer>
</body>
</html>