	
<div class="container" ng-controller="UserCtrl as usr">

	<div class="panel panel-default">
	    <div class="panel-heading">Informações do usuário</div>
	    <div class="panel-body">
			<div class="row">
				<div class="col-xs-6">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i> Nome</span>
			            <input type="text" class="form-control" placeholder="[[.Target.Name]]" disabled>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o"></i> Email</span>
			            <input type="text" class="form-control" placeholder="[[.Target.Email]]" disabled>
					</div>
				</div>
			</div>
				[[if .IsOwner]]
				<div class="row">
					<div class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i> Senha</span>
				            <input type="text" class="form-control" placeholder="Nova senha" disabled>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i> Senha</span>
				            <input type="text" class="form-control" placeholder="Confirmar senha" disabled>
						</div>
					</div>
					<div class="col-xs-3 col-xs-offset-9">
						<button type="button" class="btn btn-default">
							edit
						</button>
						<button type="button" class="btn btn-success">
							enviar
						</button>
						<button type="button" class="btn btn-default">
							cancelar
						</button>
					</div>
				</div>
				[[end]]
	    </div>
	</div>

	[[if eq .Target.User_Type "poster"]]
	<div class="panel panel-default">
		<div class="panel-heading">Informações da instituição</div>
		<div class="panel-body">

			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="comment">Descrição:</label>
			            <textarea type="text" class="form-control" placeholder="[[.Target.Institution_Description]]" rows="5" ></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-bullhorn"></i> Anunciante</span>
			            <input type="text" class="form-control" placeholder="[[.Target.Institution_Tag]]" disabled>
					</div>
				</div>
				<div class="col-xs-2">
				 	<input type="checkbox" 
					 	[[if eq .Target.IsAuthorized true]] checked [[end]] 
						[[if eq .IsAuthorized false]] disabled [[end]] 
				 	> Autorizado
				</div>
				[[if .IsOwner]]
					<div class="col-xs-3">
						<button type="button" class="btn btn-default">
							edit
						</button>
						<button type="button" class="btn btn-success">
							enviar
						</button>
						<button type="button" class="btn btn-default">
							cancelar
						</button>
					</div>
				[[end]]
			</div>

		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Informações de endereço</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-4">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-road"></i> Rua</span>
			            <input type="text" class="form-control" placeholder="[[.Target.Addr_Street]]"  ng-model="address.street" ng-disabled="address.disabled">
					</div>
				</div>
				<div class="col-xs-3">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<span class="fa-stack fa-stack-lh-1 text-center">
							  <i class="fa fa-square-o fa-stack-1-5x"></i>
							  <small><strong class="fa-number ">01</strong></small>
							  </span> Número
							</span>
						</span>
			            <input type="text" class="form-control" placeholder="[[.Target.Addr_Number]]" ng-model="address.number" ng-disabled="address.disabled">
					</div>
				</div>
				<div class="col-xs-3">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
							<span class="fa-stack fa-stack-lh-1 text-center">
							  <i class="fa fa-square-o fa-stack-1-5x"></i>
							  <small><strong class="fa-number ">01</strong></small>
							  </span> <abbr title="Complemento">Compl.</abbr>
							</span>
						</span>
			            <input type="text" class="form-control" placeholder="[[.Target.Addr_Complement]]" ng-model="address.complement" ng-disabled="address.disabled">
					</div>
				</div>
				<div class="col-xs-4">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-home"></i> Bairro</span>
			            <input type="text" class="form-control" placeholder="[[.Target.Addr_Neighborhood]]" ng-model="address.neighborhood" ng-disabled="address.disabled">
					</div>
				</div>
				<div class="col-xs-4">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-signs"></i> Cidade</span>
			            <input type="text" class="form-control" placeholder="[[.Target.Addr_City]]" ng-model="address.city" ng-disabled="address.disabled">
					</div>
				</div>
				[[if .IsOwner]]
					<div class="col-xs-4">
						<button type="button" class="btn btn-default" ng-hide="!address.disabled" ng-click="address.disabled = false">
							edit
						</button>
						<button type="button" class="btn btn-success" ng-hide="address.disabled" ng-click='usr.send("address")'>
							enviar
						</button>
						<button type="button" class="btn btn-default" ng-hide="address.disabled" ng-click="address.disabled = true">
							cancelar
						</button>
					</div>
				[[end]]
			</div>
			[[if eq .User.User_Type "moderator"]]
				<a href="/user/[[.Target.Id]]/remove">Remover Conta</a><br>
			[[end]]
		[[end]]
		[[if .isOwner]]
			<a href="/user/[[.Target.Id]]/remove">Remover Conta</a><br>
		[[end]]
		</div>
	</div>


</div>
