<div class="container">
		<table id="table" class="table table-striped"> 
			<caption>Lista dos usuários cadastrados:</caption>
			<thead> 
				<!--<tr> 
					<th colspan="3">Usuário</th>
					<th colspan="3">Instituição</th>
					<th colspan="5">Endereço</th>
				</tr> -->
				<tr> 
					<th>#</th> 
					<th><i class="fa fa-user"></i> Nome</th> 
					<th><i class="fa fa-envelope-o"></i> Email</th> 
					<th>
						<span class="fa-stack fa-stack-lh-1 text-center fa-fw-1-5">
						  <i class="fa fa-square-o fa-stack-1-5x"></i>
						  <small><strong class="fa fa-check"></strong></small>
						</span> <abbr title="Aprovado">Apr.</abbr>
					<th><i class="fa fa-bullhorn"></i> <abbr title="Anunciante">Anun.</abbr></th> 
					<th>
						<span class="fa-stack fa-stack-lh-1 text-center fa-fw-1-5">
						  <i class="fa fa-square-o fa-stack-1-5x"></i>
						  <small><strong class="fa fa-info"></strong></small>
						</span> <abbr title="Descrição">Descr.</abbr>
					<th><i class="fa fa-road"></i> Rua</th> 
					<th>
						<span class="fa-stack fa-stack-lh-1 text-center fa-fw-1-5">
						  <i class="fa fa-square-o fa-stack-1-5x"></i>
						  <small><strong class="fa-number">nº</strong></small>
						</span> <abbr title="Número">Num.</abbr>
					</th> 
					<th>
						<span class="fa-stack fa-stack-lh-1 text-center fa-fw-1-5">
						  <i class="fa fa-square-o fa-stack-1-5x"></i>
						  <small><strong class="fa-number ">ap</strong></small>
						</span> <abbr title="Complemento">Compl.</abbr>
					</th> 
					<th><i class="fa fa-home"></i> Bairro</th> 
					<th><i class="fa fa-map-signs"></i> Cidade</th> 
				</tr> 
			</thead> 
			<tfoot> 
				<tr> 
					<th>#</th> 
					<th><i class="fa fa-user"></i> Nome</th> 
					<th><i class="fa fa-envelope-o"></i> Email</th> 
					<th>
						<span class="fa-stack fa-stack-lh-1 text-center fa-fw-1-5">
						  <i class="fa fa-square-o fa-stack-1-5x"></i>
						  <small><strong class="fa fa-check"></strong></small>
						</span> <abbr title="Aprovado">Apr.</abbr>
					<th><i class="fa fa-bullhorn"></i> Anunciante</th> 
					<th>
						<span class="fa-stack fa-stack-lh-1 text-center fa-fw-1-5">
						  <i class="fa fa-square-o fa-stack-1-5x"></i>
						  <small><strong class="fa fa-info"></strong></small>
						</span> Descrição
					<th><i class="fa fa-road"></i> Rua</th> 
					<th>
						<span class="fa-stack fa-stack-lh-1 text-center fa-fw-1-5">
						  <i class="fa fa-square-o fa-stack-1-5x"></i>
						  <small><strong class="fa-number">nº</strong></small>
						</span> <abbr title="Número">Num.</abbr>
					</th> 
					<th>
						<span class="fa-stack fa-stack-lh-1 text-center fa-fw-1-5">
						  <i class="fa fa-square-o fa-stack-1-5x"></i>
						  <small><strong class="fa-number ">ap</strong></small>
						</span> <abbr title="Complemento">Compl.</abbr>
					</th> 
					<th><i class="fa fa-home"></i> Bairro</th> 
					<th><i class="fa fa-map-signs"></i> Cidade</th> 
				</tr> 
			</tfoot> 
			<tbody> 
			    [[range $i, $u := .Unauthorized]]
					<tr> 
						<th scope="row"><a href="/usuario/[[$u.Id]]/editar">[[$u.Id]]</a></th> 
						<td><a href="/tag/[[$u.NameIdTag]]">[[$u.Name]]</a></td> 
						<td>[[$u.Email]]</td> 
						<td><i class="fa fa-square-o"></i> Não</td> 
						<td>[[$u.Institution_Tag]]</td> 
						<td>[[$u.Institution_Description]]</td> 
						<td>[[$u.Addr_Street]]</td> 
						<td>[[$u.Addr_Number]]</td> 
						<td>[[$u.Addr_Complement]]</td> 
						<td>[[$u.Addr_Neighborhood]]</td> 
						<td>[[$u.Addr_City]]</td> 
					</tr> 
			    [[end]]
			    [[range $i, $u := .Authorized]]
					<tr> 
						<th scope="row"><a href="/usuario/[[$u.Id]]/editar">[[$u.Id]]</a></th> 
						<td><a href="/tag/[[$u.NameIdTag]]">[[$u.Name]]</a></td> 
						<td>[[$u.Email]]</td> 
						<td><i class="fa fa-check-square-o"></i> Sim</td> 
						<td>[[$u.Institution_Tag]]</td> 
						<td>[[$u.Institution_Description]]</td> 
						<td>[[$u.Addr_Street]]</td> 
						<td>[[$u.Addr_Number]]</td> 
						<td>[[$u.Addr_Complement]]</td> 
						<td>[[$u.Addr_Neighborhood]]</td> 
						<td>[[$u.Addr_City]]</td> 
					</tr> 
			    [[end]]
			    [[range $i, $u := .Moderators]]
					<tr > 
						<th scope="row"><a href="/usuario/[[$u.Id]]/editar">[[$u.Id]]</a></th> 
						<td>[[$u.Name]]</td> 
						<td>[[$u.Email]]</td> 
						<td>-</td> 
						<td>-</td> 
						<td>-</td> 
						<td>-</td> 
						<td>-</td> 
						<td>-</td> 
						<td>-</td> 
						<td>-</td> 
					</tr> 
			    [[end]]
			</tbody> 
		</table>
</div>
