/* line 12, ../../sass/colors.sass */
.fgc-0 {
  color: #2D373B; }

/* line 14, ../../sass/colors.sass */
.fgc-1 {
  color: #D98757; }

/* line 16, ../../sass/colors.sass */
.fgc-2 {
  color: #5FB6A4; }

/* line 18, ../../sass/colors.sass */
.fgc-3 {
  color: #E7C961; }

/* line 20, ../../sass/colors.sass */
.fgc-4 {
  color: #D95A5A; }

/* line 22, ../../sass/colors.sass */
.fgc-5 {
  color: #ebebeb; }

/* line 25, ../../sass/colors.sass */
.bgc-0 {
  background-color: #2D373B; }

/* line 27, ../../sass/colors.sass */
.bgc-1 {
  background-color: #D98757; }

/* line 29, ../../sass/colors.sass */
.bgc-2 {
  background-color: #5FB6A4; }

/* line 31, ../../sass/colors.sass */
.bgc-3 {
  background-color: #E7C961; }

/* line 33, ../../sass/colors.sass */
.bgc-4 {
  background-color: #D95A5A; }

/* line 35, ../../sass/colors.sass */
.bgc-5 {
  background-color: #ebebeb; }

/* line 12, ../../sass/colors.sass */
.fgc-0 {
  color: #2D373B; }

/* line 14, ../../sass/colors.sass */
.fgc-1 {
  color: #D98757; }

/* line 16, ../../sass/colors.sass */
.fgc-2 {
  color: #5FB6A4; }

/* line 18, ../../sass/colors.sass */
.fgc-3 {
  color: #E7C961; }

/* line 20, ../../sass/colors.sass */
.fgc-4 {
  color: #D95A5A; }

/* line 22, ../../sass/colors.sass */
.fgc-5 {
  color: #ebebeb; }

/* line 25, ../../sass/colors.sass */
.bgc-0 {
  background-color: #2D373B; }

/* line 27, ../../sass/colors.sass */
.bgc-1 {
  background-color: #D98757; }

/* line 29, ../../sass/colors.sass */
.bgc-2 {
  background-color: #5FB6A4; }

/* line 31, ../../sass/colors.sass */
.bgc-3 {
  background-color: #E7C961; }

/* line 33, ../../sass/colors.sass */
.bgc-4 {
  background-color: #D95A5A; }

/* line 35, ../../sass/colors.sass */
.bgc-5 {
  background-color: #ebebeb; }

/* line 3, ../../sass/hover.sass */
.hovereffect {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center; }

/* line 10, ../../sass/hover.sass */
.hovereffect.bgc-1 {
  background: #D98757; }

/* line 12, ../../sass/hover.sass */
.hovereffect.bgc-2 {
  background: #5FB6A4; }

/* line 14, ../../sass/hover.sass */
.hovereffect.bgc-3 {
  background: #E7C961; }

/* line 16, ../../sass/hover.sass */
.hovereffect.bgc-4 {
  background: #D95A5A; }

/* line 18, ../../sass/hover.sass */
.hovereffect.bgc-5 {
  background: #ebebeb; }

/* line 22, ../../sass/hover.sass */
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

/* line 29, ../../sass/hover.sass */
.hovereffect img {
  display: block;
  vertical-align: middle;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* line 43, ../../sass/hover.sass */
.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* line 49, ../../sass/hover.sass */
.hovereffect > *:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

/* line 62, ../../sass/hover.sass */
.hovereffect:hover > *:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* line 66, ../../sass/hover.sass */
.hovereffect div {
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%, 0, 0); }

/* line 70, ../../sass/hover.sass */
.hovereffect:hover div {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translate3d(0, 0, 0); }

/* line 3, ../../sass/category.sass */
.row > .category {
  padding-left: 1px;
  padding-right: 1px; }

/* line 9, ../../sass/category.sass */
.category {
  height: 173px;
  display: table;
  overflow: hidden;
  padding: 0;
  text-align: center; }
  /* line 15, ../../sass/category.sass */
  .category h1 {
    font-weight: 300;
    font-size: 50px;
    display: table-cell;
    vertical-align: middle; }

/* line 20, ../../sass/category.sass */
.category-small {
  height: 21.625px;
  display: table;
  overflow: hidden;
  padding: 0;
  text-align: center; }
  /* line 26, ../../sass/category.sass */
  .category-small h1 {
    font-weight: 300;
    font-size: 15px;
    display: table-cell;
    vertical-align: middle; }

/* line 32, ../../sass/category.sass */
.category:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

/* line 38, ../../sass/category.sass */
.category-parent {
  max-height: 173px;
  width: 100%;
  overflow: hidden;
  padding: 0;
  display: inline-block;
  vertical-align: middle; }

/* line 46, ../../sass/category.sass */
.category-parent-small {
  max-height: 173px;
  width: 100%;
  overflow: hidden;
  padding: 0;
  display: inline-block;
  vertical-align: middle; }

/* line 53, ../../sass/category.sass */
.category-header {
  height: 160px;
  padding-bottom: 40px; }
  /* line 56, ../../sass/category.sass */
  .category-header h1 {
    font-weight: 300;
    font-size: 50px; }
  /* line 59, ../../sass/category.sass */
  .category-header p {
    padding-top: 10px; }

/* line 13, ../../sass/post/list.sass */
.post-list .description {
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis; }
/* line 17, ../../sass/post/list.sass */
.post-list .user {
  margin-left: -15px; }
/* line 19, ../../sass/post/list.sass */
.post-list .tags {
  margin-left: 15px;
  padding-right: 0px; }
/* line 22, ../../sass/post/list.sass */
.post-list .post-img {
  overflow: hidden; }
  @media screen and (min-width: 1200px) {
    /* line 22, ../../sass/post/list.sass */
    .post-list .post-img {
      height: 110px; } }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 22, ../../sass/post/list.sass */
    .post-list .post-img {
      height: 142px; } }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    /* line 22, ../../sass/post/list.sass */
    .post-list .post-img {
      height: 105px; } }
  @media screen and (max-width: 768px) {
    /* line 22, ../../sass/post/list.sass */
    .post-list .post-img {
      height: 105px; } }
/* line 32, ../../sass/post/list.sass */
.post-list h3, .post-list h4 {
  margin-top: 0px; }
/* line 34, ../../sass/post/list.sass */
.post-list .well {
  padding-left: 0px;
  height: 145px; }

/*# sourceMappingURL=list.css.map */
