$footer_height: 160px
$back-color: #2D373B

$color-0: #2D373B
$color-1: #D98757
$color-2: #5FB6A4
$color-3: #E7C961
$color-4: #D95A5A
$color-5: #ebebeb
$color-6: $color-5
$color-7: #4e5d6c

$cat-max-height: 173px

body > .container
	padding-left: 50px
	padding-right: 50px
	padding-top: 50px
	padding-bottom: 50px
	background: $color-6

input 
	font-family: 'FontAwesome', 'Roboto', Arial
.fa-number
	font-family: 'Montserrat', sans-serif
.fa-stack-1-5x
	font-size: 1.5em !important
	position: absolute
	left: 0
	width: 100%
	text-align: center
	line-height: inherit !important
.fa-stack-lh-1
	line-height: 1 !important
	height: 1em !important
	vertical-align: top !important
	width: 1em !important
	i
		margin-top: -2px
.fa-fw-1-5
	width: 1.28571429em !important
.fa-stack small
	margin-bottom: 15px !important
	position: relative

html
	position: relative  	
	min-height: 100%

body 
	font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif
	font-weight: 300
	line-height: 1.1
	//'Roboto', Arial
	margin-bottom: $footer_height
.footer
	position: absolute
	bottom: 0
	width: 100%
	height: $footer_height

.row > .category
	//border: 1px solid $color-5
	padding: 2px 
.category
	height: $cat-max-height
	display: table
	overflow: hidden
	padding: 0
	text-align: center
	h1
		font-weight: 300
		font-size: 50px
		display:        table-cell
		vertical-align: middle

.category:before 
	content: ' '
	display: inline-block
	vertical-align: middle
	height: 100%
