$footer_height: 160px

input 
	font-family: 'FontAwesome', 'Roboto', Arial
.fa-number
	font-family: 'Montserrat', sans-serif
.fa-stack-1-5x
	font-size: 1.5em !important
	position: absolute
	left: 0
	width: 100%
	text-align: center
	line-height: inherit !important
.fa-stack-lh-1
	line-height: 1 !important
	height: 1em !important
	vertical-align: top !important
	width: 1em !important
	i
		margin-top: -2px
		margin-left: -1px
.fa-stack small
	margin-bottom: 15px !important
	position: relative

html
	position: relative  	
	min-height: 100%

body 
	font-family: 'Roboto', Arial
	margin-bottom: $footer_height
.footer
	position: absolute
	bottom: 0
	width: 100%
	height: $footer_height