[[if .IsLoggedIn]]
	<li>
		[[.User.Name]]
	</li>
	<li role="separator" class="divider"></li>
	<li><a href="/usuario/[[.User.Id]]/editar" class="btn btn-default"><i class="fa fa-cog"></i> Configurações</a></li>
	</li>
	<li role="separator" class="divider"></li>
	<li><a href="/logout" class="btn btn-default"><i class="fa fa-sign-out"></i> Sair</a></li>
[[else]]
	<li ng-controller="LoginCtrl as lgn">
	    <form class="form-inline" ng-submit='lgn.sendLogin(login)'>
	        <div class="input-group">
	          <input class="form-control" type="email" placeholder="&#xf003; Email" ng-model='lgn.login.Email'/>
	        </div>
	        <div class="input-group">
	          <input class="form-control" type="password" placeholder="&#xf084; Senha" ng-model='lgn.login.Password'/>
	        </div>
	        <button type="submit" class="btn btn-default"><i class="fa fa-sign-in"></i> Entrar</button>
	    </form>
	</li>
	<li role="separator" class="divider"></li>
	<li><a href="/usuario/criar" class="btn btn-default"><i class="fa fa-user-plus"></i> Cadastrar</a></li>
[[end]]